.current-section {
  margin: 0 10px 20px;
  background-color: var(--color-light-transparent);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 1rem;
  animation: appearFromLeft var(--timing) forwards;
}

.current-section__wrapper {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.current-section__block--left {
	position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 0 0.5rem;
}

.weather-icon {
	max-width: 100%;
	margin-bottom: 10px;
}

.header-current-temp {
  margin-left: 1rem;
  font-size: 2rem;
}

.current-section__block--right {
  width: 60%;
}

.current-section__info-group-wrap::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 4px;
	height: 85px;
	background-color: var(--color-border);
	border-radius: 2px;
	transform: translateY(-50%);
}

.current-section__info-group-wrap::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: calc(100% - 10px);
  height: 4px;
  background-color: var(--color-border);
	border-radius: 0 2px 2px 0;
}

.current-section__info-group-wrap {
  position: relative;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.current-section .weather-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}