.current-section {
  margin: 0 10px 20px;
  background-color: var(--color-light-transparent);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 1rem;
  animation: appearFromLeft var(--timing) forwards;
}

.current-section__header {
  padding: 1rem 0 0.5rem;
  border-radius: 1rem 1rem 0 0;
  text-align: center;
}

.current-section__header-content {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(to right, var(--color-border), transparent);
  border-radius: 1.5rem;
}

.current-section__header-content svg {
  margin-right: 10px;
}

.current-section__wrapper {
  display: flex;
  align-items: center;
  padding: 0 0 1rem 0;
}

.current-section__block--left {
	position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 0.5rem;
}

.current-section__block--left::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 4px;
	height: 85px;
	background-color: var(--color-border);
	border-radius: 2px;
	transform: translateY(-50%);
}

.header-current-temp {
  margin-left: 1rem;
  font-size: 2rem;
}

.current-section__block--right {
  position: relative;
  display: grid;
  justify-content: space-around;
  width: 50%;
  gap: .5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.current-section__block--right::before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: calc(100% - 10px);
  height: 4px;
  background-color: var(--color-border);
	border-radius: 0 2px 2px 0;
}

.current-section .weather-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}