.forecast {
	margin: -36px 10px 16px;
}

.forecast__title {
	margin-bottom: 4px;
	color: var(--color-light);
	text-align: center;
}

.forecast__wrapper {
	display: flex;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

.forecast__graph {
	position: relative;
	display: flex;
	align-items: flex-end;
	height: 255px;
	margin-right: 10px;
	padding: 55px 10px 10px;
	background-color: var(--color-element-bg);
	background-image: linear-gradient(to right, var(--color-window) 0, transparent 33%, transparent 66%, var(--color-window) 100%);
	-webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
	border-radius: var(--radius-main);
}

.forecast__graph-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 36px;
  padding-top: 2px;
	background-image: linear-gradient(to bottom, var(--color-border) 0, transparent);
	border-radius: 8px 8px 0 0;
	font-size: 10px;
	text-align: center;
}

.forecast__graph-item::before,
.forecast__graph-item::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 1px;
	height: 100%;
	background-image: linear-gradient(to top, var(--color-border) 0, transparent);
}

.forecast__graph-item::before {
	left: 0;
}

.forecast__graph-item::after {
	right: 0;
}
