.hour-section {
  width: 100%;
  text-align: center;
  border-spacing: 0;
  box-shadow: 0 0 10px 0 var(--color-dark);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  animation: fadeIn var(--timing) forwards;
}