.hour-section {
  position: relative;
  width: calc(100% - 20px);
	scroll-margin-block-start: 70px;
  margin: 0 10px;
  border-spacing: 0;
  border-radius: var(--radius-main);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.hour-section__tab-header {
	border-radius: 1rem 1rem 0 0;
	overflow: hidden;
}

.hour-section__tab-header-item {
	display: inline-block;
	vertical-align: top;
	width: calc(100% / 7);
	padding: 1rem 0;
	background-color: var(--color-window);
	--webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
	color: var(--color-light);
}

.hour-section__tab-header-item--active {
	background-color: var(--color-light-transparent);
	color: var(--color-window);
}
