.hour-section__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  background-color: hsla(200, 100%, 75%, .5);
  --webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
}

.hour-section__row:last-of-type {
  border-radius: 0 0 1rem 1rem;
}

.hour-section__row:nth-child(2n) {
  background-color: hsla(200, 100%, 85%, .5);
}

.hour-section__row--separator {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background-color: var(--color-light-transparent);
  --webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
}

.hour-section__row--separator span {
	font-weight: bold;
	text-transform: uppercase;
}

.hour-section__row > div:first-of-type {
  width: 65px;
  flex-shrink: 0;
}

.hour-section__row .weather-icon {
	margin: 0;
}