.graph-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
	padding: .25rem 0;
  background-color: var(--color-border);
	background-image: linear-gradient(to top, var(--color-border) 0%, transparent 100%);
  border-radius: 1rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.graph-bar__value--min {
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	left: 0;
	height: 52px;
	padding-top: 0.25rem;
	border-radius: 0 0 1rem 1rem;
	font-size: 0.75rem;
}

.graph-bar__icon svg {
  width: 24px;
  height: 24px;
}