.locations {
	position: relative;
}

.locations--active .locations__window {
	opacity: 1;
	pointer-events: all;
	transform: scaleY(1);
  border-radius: 0 0 0 0;
  filter: blur(0);
}

.locations__header {
	position: relative;
	display: flex;
	align-items: center;
	border-radius: var(--radius-main);
	font-style: italic;
	cursor: pointer;
}

.locations__header--empty {
	padding: 4px;
}

.locations__header svg {
  position: relative;
	height: 24px;
}

.locations__header-button {
  position: relative;
	margin-right: 10px;
  padding-left: 45px;
  background-color: transparent;
}

.locations__header--empty .locations__header-button {
  background-color: transparent;
}

.locations__header-button::before {
  content: "";
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  width: 40px;
  height: 40px;
  background-color: var(--color-light);
  border-radius: 24px;
  box-shadow: var(--shadow);
}


.locations__header--empty .locations__header-button::before {
  width: 100%;
  animation: blink 2s infinite;
}

.locations__header-button svg {
  position: absolute;
  top: 50%;
  left: 8px;
  width: 24px;
  transform: translateY(-50%);
}

.locations__header-text {
  position: relative;
  color: var(--color-dark);
  font-size: 0.8rem;
  font-weight: bold;
  text-align: left;
}

.locations__window {
	position: fixed;
  display: flex;
  flex-direction: column;
	top: 56px;
	left: 0;
	width: 100vw;
	height: calc(100vh - 56px);
	max-height: calc(100vh - 56px);
	padding: 40px 10px 20px;
	background-image: linear-gradient(to bottom, var(--color-window), var(--color-window) 60%, transparent 100%);
	-webkit-backdrop-filter: blur(var(--blur));
	backdrop-filter: blur(var(--blur));
  border-radius: 0 0 50% 50%;
  filter: blur(var(--blur));
	opacity: 0;
  overflow: auto;
	pointer-events: none;
	transform-origin: top;
	transform: scaleY(.8);
	transition: opacity .5s, transform .5s, filter .5s, border-radius .5s;
}

.locations__closer {
	flex-grow: 1;
}

.location__window-phrase {
	margin-bottom: 40px;
	color: var(--color-light);
	font-size: 1rem;
	font-weight: normal;
	text-align: center;
}

.location__get-location-button {
	height: 50px;
	border-radius: 25px;
  border: var(--border-width) solid var(--color-border);
  box-shadow: var(--shadow);
	color: var(--color-dark);
	font-size: 1rem;
	line-height: 32px;
	font-weight: bold;
}
