.day-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
	margin-bottom: calc(20px - 0.5rem);
  padding: 0 calc(10px - 0.25rem);
  text-align: center;
  list-style: none;
}

.day-section__item {
  width: 33.33%;
  cursor: pointer;
}
