:root {
	--color-light: hsl(200, 100%, 75%);
	--color-lighter: hsl(200, 100%, 80%);
	--color-lightest: hsl(200, 100%, 85%);
	--color-dark: hsl(200, 100%, 20%);
	--color-darker: hsl(200, 100%, 10%);
	--color-border: hsla(200, 100%, 25%, 0.5);
	--color-window: hsla(200, 100%, 25%, 0.9);
	--color-bar: hsla(200, 100%, 25%, 0.3);
	--color-light-transparent: hsla(200, 100%, 75%, 0.7);

	--timing: 1s;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	background: url('./assets/bg-pattern.svg');
	overflow: hidden;
	color: var(--color-dark);
}

button,
input {
	padding: 0 10px;
	vertical-align: top;
	background-color: var(--color-light);
	border: none;
	border-radius: 1rem;
	outline: none;
}

input::placeholder {
	color: inherit;
}

button svg {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
}

button,
[role="button"] {
  cursor: pointer
}

ul {
	list-style: none;
}

.App {
	height: 100dvh;
	padding-top: 56px;
	font-family: 'Roboto', sans-serif;
	transition: opacity 1s;
	overflow: auto;
}

.weather-icon {
	position: relative;
	width: 30px;
	height: 30px;
	object-fit: contain;
}

.weather-icon svg {
	max-height: 100%;
}

.weather-icon--middle {
	width: 60px;
	height: 60px;
}

.weather-icon--large {
	width: 100px;
	height: 100px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(40px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes appearFromLeft {
	from {
		opacity: 0;
		transform: translateX(-40px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes appearFromRight {
	from {
		opacity: 0;
		transform: translateX(40px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@media (min-width: 1200px) {
	.weather-icon--middle {
		width: 60px;
		height: 60px;
	}

	.weather-icon--large {
		width: 240px;
		height: 240px;
	}

	.divided-section {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.divided-section > * {
		flex-basis: 48%;
	}
}
