.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.25rem;
  font-size: 0.8rem;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6rem;
  color:var(--color-dark);
}

.value-sub-info {
  font-size: 0.8rem;
}