.forecast__day-info {
	position: sticky;
	top: 47.5px;
	left: 10px;
	display: inline-flex;
	margin: 0 20px 0 10px;
	padding: 0 5px;
	background-color: var(--color-border);
	border-radius: 1.5rem;
  box-shadow: var(--shadow);
	color: var(--color-light);
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	z-index: 1;
}

.forecast__day-info span {
	position: relative;
	padding: 10px;
}

.forecast__day-info span:not(:last-of-type)::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background-image: linear-gradient(to top, transparent, var(--color-light-transparent), transparent);
}