.temperature-graph {
	position: relative;
  animation: appearFromLeft var(--timing) forwards;
}

.temperature-graph--skeleton {
	height: 240px;
	width: calc(100% - 2rem);
	margin: 0 auto 1rem;
	animation: skeleton 1.5s .4s ease infinite;
}

.temperature-graph--skeleton::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: calc(100% / 8);
	background-color: var(--color-border);
	border-radius: 1rem;
	box-shadow: 55px 0 0px 0px var(--color-border), 110px 0 0px 0px var(--color-border), 165px 0 0px 0px var(--color-border), 220px 0 0px 0px var(--color-border), 275px 0 0px 0px var(--color-border), 330px 0 0px 0px var(--color-border) ;
}

.temperature-graph ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 1rem;
  list-style: none;
}

.temperature-graph li {
  width: calc(100% / 7);
  max-width: 100px;
  margin: 0 0.25rem;
  padding: .25rem 0;
  text-align: center;
}

.temperature-graph__bars {
  height: 240px;
}

.scale-x {
  margin-bottom: 1rem;
}