.day-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.25rem 0.5rem;
  padding: 0.25rem;
  background-color: var(--color-element-bg);
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur));
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--radius-main);
  box-shadow: var(--shadow);
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.day-card__date, .day-card__calendar {
  position: relative;
  font-size: .75rem;
  color: var(--color-dark);
  margin-top: .5rem;
  text-transform: uppercase;
}

.day-card__calendar {
	position: relative;
  margin-bottom: .5rem;
  padding-bottom: .8rem;
}

.day-card__calendar::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: var(--color-border);
	border-radius: 2px;
}

.day-card__temperature {
  position: relative;
}
